// Chips
//
// Compact elements that represent an input, attribute, or action.
// Inspired by Material Design: https://material.io/design/components/chips.html
// Code influenced by Bootstrap badges:
// https://github.com/twbs/bootstrap/blob/master/scss/_badge.scss

.chip {
  @include button-variant($chip-background-color, $chip-border-color);
  @include border-radius($btn-border-radius);

  color: $chip-color;
  cursor: pointer;
  display: inline-block;
  font-size: $badge-font-size;
  padding: $badge-padding-y ($badge-padding-x * 1.5);
  text-transform: uppercase;
  vertical-align: baseline;
  white-space: nowrap;

  & + & {
    margin-left: $list-inline-padding / 2;
  }
}
