// Sizes of the Material icons (in px) present in Student UX
$material-icon-sizes: (
  'xxxsmall': 15, 
  'xxsmall': 20,
  'xsmall': 25,
  'small': 30,
  'medium': 35,
  'large': 40,
  'xlarge': 60,
  'xxlarge': 80,
  'xxxlarge': 100
);

.material-icons {
  font-size: 1em;
  vertical-align: middle;
  margin-top: -0.25em;
}

@each $size, $value in $material-icon-sizes {
  .material-#{$size} {
    @include font-size($value);
  }
}


