// "Pill" buttons

.pill {
  @extend .btn;

  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-line-height-sm,
    $btn-border-radius-sm
  );
}

$pill-colors: (
  secondary: (
    main: $secondary,
    background: lighten($secondary, 40%),
    active-background: lighten($secondary, 35%)
  ),
  danger: (
    main: $danger,
    background: inherit,
    active-background: lighten($danger, 40%)
  ),
  success: (
    main: $success,
    background: lighten($success, 40%),
    active-background: lighten($success, 35%)
  )
) !default;

@each $color, $map in $pill-colors {
  .pill-#{$color} {
    $main: map-get($map, main);
    $background: map-get($map, background);
    $active-background: map-get($map, active-background);

    @include button-outline-variant(
      $main,
      $color-hover: $main,
      $active-background: $active-background
    );

    font-weight: $font-weight-bold;
    font-size: $font-size-12;
    background: $background;
  }
}
