//
// Nicer hover styles on top of Bootstrap's default
//

.table-hover {
  tbody tr {
    transition: $transition-base;

    td:first-child, th:first-child {
      border-radius: $card-border-radius 0 0 $card-border-radius;
    }

    td:last-child {
      border-radius: 0 $card-border-radius $card-border-radius 0;
    }
  }
}
