//
// Nicer hover styles on top of Bootstrap's default
//

.table-hover {
  tbody tr {
    transition: $transition-base;

    td:first-child, th:first-child {
      border-radius: .5rem 0 0 .5rem;
    }

    td:last-child {
      border-radius: 0 .5rem .5rem 0;
    }
  }
}
