// BridgeU variables
//
// This is where we name our variables. If we are bringing a new colour to our
// style guide, before it gets a role (primary, light, etc.), it needs a name
// - just like Bootstrap does with its $blue, $indigo, etc.
// Then we give it a meaning through bootstrap/_variables.scss, where we map
// that name to a responsibility. If connected properly, Bootstrap will do the
// rest and generate buttons and other elements from that new mapping.
//
// Give these variables a human-readable name unrelated from their role at the
// application, if possible. For example, a shade of red could be called
// '$supernova-red' instead of '$negative-action'.

$primary: #cc3d3d;
$secondary: #0367d8;
$success: #238661;
$danger: #cc3d3d;
$warning: #e0881b;
$info: #0367d8;
$light: #f8f9fa;
$dark: #333333;

$black: #000000;
$white: #ffffff;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;


// Font size
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;


// Nav

$nav-tabs-bottom-divider-border-width: 1px;
$nav-tabs-tab-border-width: 4px;
