// BridgeU variables
//
// This is where we name our variables. If we are bringing a new colour to our
// style guide, before it gets a role (primary, light, etc.), it needs a name
// - just like Bootstrap does with its $blue, $indigo, etc.
// Then we give it a meaning through bootstrap/_variables.scss, where we map
// that name to a responsibility. If connected properly, Bootstrap will do the
// rest and generate buttons and other elements from that new mapping.
//
// Give these variables a human-readable name unrelated from their role at the
// application, if possible. For example, a shade of red could be called
// '$supernova-red' instead of '$negative-action'.

$cardinal-red: #bd0013;
$flamingo-red: #fb3f56;
$parrot-green: #37b083;
$finch-blue:   #3a4456;
$cerulean-blue: #0367d8;

$grey-100: #333333;
$grey-200: #666666;
$grey-300: #999999;
$grey-400: #cccccc;
$grey-500: #e6e6e6;
$grey-600: #f2f2f2;

// Text/links
$text-disabled-color: $grey-400;

// Chips

$chip-background-color: $grey-500;
$chip-border-color: $grey-500;
$chip-color: $grey-200;


// Checkboxes & Radios

$radio-checkbox-checked-bg: $parrot-green;


// Nav

$nav-tabs-active-border-color: $flamingo-red;
$nav-tabs-bottom-divider-border-width: 1px;
$nav-tabs-tab-border-width: 4px;
