@import "../src/scss/bridgeu/variables.scss";
@import "../src/scss/bootstrap/variables.scss";

//
// CSS customisations for Storybook demo purposes
@import "scss/cards.scss";

//
// Export some of our own variables so we can import them on the JavaScript side
// and use them for demo purposes. This will not be available on Bridget as an
// npm package.
:export {
  cardinalRed: $cardinal-red;
  flamingoRed: $flamingo-red;
  finchBlue: $finch-blue;
  grey1: $grey-100;
  grey2: $grey-200;
  grey3: $grey-300;
  grey4: $grey-400;
  grey5: $grey-500;
  grey6: $grey-600;
}
