// BridgeU customisations
@import 'custom';

// Bootstrap CSS
@import '~bootstrap/scss/bootstrap';


.material-icons {
  font-size: 1em;
  vertical-align: middle;
  margin-top: -0.25em;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
